@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Apply Kanit globally */
body {
  font-family: 'Kanit', sans-serif !important;
  font-size: 1em;
}

.post-content h2:first-of-type {
  margin-top: 1rem !important;
}

.hero-container {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

footer.site-footer {
  margin-top: 2rem !important;
}
